body {
  font-family: 'Roboto', sans-serif; }

header nav.navbar {
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0; }
  header nav.navbar .navbar-toggle {
    border: 1px solid #d9d9d9; }
    header nav.navbar .navbar-toggle .icon-bar {
      background-color: #a0a0a0; }
  header nav.navbar .navbar-collapse {
    text-align: center; }
  header nav.navbar ul.nav.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
    header nav.navbar ul.nav.navbar-nav li a {
      font-size: 14px;
      font-weight: 300;
      color: #435993;
      padding: 30px 38px;
      transition: all 0.3s; }
    header nav.navbar ul.nav.navbar-nav li > a:focus, header nav.navbar ul.nav.navbar-nav li > a:hover {
      color: #1c1c1c;
      background-color: transparent; }

.container__inner {
  max-width: 800px;
  width: auto;
  margin: 125px auto 0 auto; }
  .container__inner h1, .container__inner h2 {
    text-align: center;
    color: #1c1c1c; }
  .container__inner h1 {
    font-size: 70px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 74px 0; }
  .container__inner .inform_wrapper {
    text-align: center;
    margin: 0 0 72px 0; }
    .container__inner .inform_wrapper h2 {
      font-size: 30px;
      font-weight: 300;
      padding: 70px 0 50px 0;
      position: relative;
      margin: 0; }
      .container__inner .inform_wrapper h2:before {
        content: '';
        display: block;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -30px; }
    .container__inner .inform_wrapper .personal_inform h2:before {
      background-image: url("../../images/icon1.png"); }
    .container__inner .inform_wrapper .skill_inform h2:before {
      background-image: url("../../images/icon2.png"); }
    .container__inner .inform_wrapper .skilljs_inform h2:before {
      background-image: url("../../images/icon3.png"); }
    .container__inner .inform_wrapper .about_myself h2:before {
      background-image: url("../../images/icon4.png"); }
    .container__inner .inform_wrapper .personal_inform {
      text-align: center; }
      .container__inner .inform_wrapper .personal_inform .personal_inform__filling {
        max-width: 530px;
        margin: 0 auto 70px auto;
        padding: 0 15px; }
        .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style {
          position: relative; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style label {
            font-size: 24px;
            font-weight: 400;
            color: #c8c8c8;
            position: absolute;
            top: 40px;
            left: 50%;
            text-align: left;
            transform: translateX(-50%);
            margin: 0;
            padding: 0;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style input {
            font-size: 20px;
            font-weight: 400;
            width: 100%;
            height: 60px;
            border-radius: 4px;
            margin: 25px 0 0 0;
            padding: 5px 0 0 0;
            text-align: center;
            border: 1px solid #e5e5e5; }
            .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style input :focus {
              border-color: #435993; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style input:focus ~ label,
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .input_style input.active-label ~ label {
            font-size: 14px;
            color: #adadad;
            top: 30px; }
        .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select {
          margin: 25px auto 0 auto;
          float: none;
          display: inline-block;
          min-width: 320px;
          height: 60px;
          font-size: 24px;
          font-weight: 400;
          color: #c8c8c8;
          text-align: center !important; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select:after {
            height: 8px;
            width: 8px; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select:focus, .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select:active, .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select.open {
            border-color: #e1e1e1; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select:after {
            border-color: #435993; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select .current {
            margin-top: 8px;
            display: block; }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select .list {
            width: 100%;
            height: 300px;
            overflow-y: scroll;
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); }
          .container__inner .inform_wrapper .personal_inform .personal_inform__filling .nice-select .option {
            font-size: 20px;
            font-weight: 300;
            color: #435993;
            text-align: center; }
    .container__inner .inform_wrapper .skill_inform {
      text-align: left;
      margin-bottom: 125px; }
      .container__inner .inform_wrapper .skill_inform .skill_inform__checkbox-style:hover input[type="checkbox"] + label span {
        background: url(../../images/checkbox-hover.png) center no-repeat; }
      .container__inner .inform_wrapper .skill_inform .skill_inform__checkbox-style input[type="checkbox"] {
        display: none; }
      .container__inner .inform_wrapper .skill_inform .skill_inform__checkbox-style input[type="checkbox"] + label span {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        background: url(../../images/checkbox.png) center no-repeat;
        cursor: pointer; }
      .container__inner .inform_wrapper .skill_inform .skill_inform__checkbox-style input[type="checkbox"]:checked + label span {
        background: url(../../images/checkbox-checked.png) center no-repeat; }
      .container__inner .inform_wrapper .skill_inform .skill_inform__checkbox-style label {
        font-size: 16px;
        font-weight: 300;
        color: #000; }
    .container__inner .inform_wrapper .skilljs_inform {
      margin: 0 0 105px 0; }
      .container__inner .inform_wrapper .skilljs_inform .slider_wrapper {
        position: relative;
        padding: 0 10px; }
      .container__inner .inform_wrapper .skilljs_inform .sliders-block {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between; }
      .container__inner .inform_wrapper .skilljs_inform .sliders-block__text {
        margin-top: 1.5rem;
        margin-bottom: 2.3em; }
      .container__inner .inform_wrapper .skilljs_inform .slider {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 770px;
        outline: none;
        position: relative;
        margin-top: 75px; }
        .container__inner .inform_wrapper .skilljs_inform .slider:before {
          content: '';
          display: block;
          position: absolute;
          top: -11px;
          left: -1px;
          background-color: #fff;
          width: 100%;
          height: 14px;
          transform: rotate(179deg);
          max-width: 770px;
          z-index: 99; }
      .container__inner .inform_wrapper .skilljs_inform .slider__body.ui-widget-content {
        border: none;
        background: #e8e8e8;
        height: 14px; }
      .container__inner .inform_wrapper .skilljs_inform .slider .ui-slider-handle {
        width: 2.2em;
        height: 2.2em;
        position: absolute;
        outline: none;
        top: 2rem;
        cursor: pointer;
        border: 1px solid #b2b2b2;
        border-radius: 0 100% 100% 100%;
        transform: rotateZ(45deg);
        background-color: transparent;
        transition: all 0.3s;
        margin-left: -16px; }
      .container__inner .inform_wrapper .skilljs_inform .slider .ui-state-active {
        outline: none;
        border-color: #435993; }
      .container__inner .inform_wrapper .skilljs_inform .slider .ui-slider-range {
        background: linear-gradient(to left, #435993, #ccb1f1);
        transition: all 0.3s; }
      .container__inner .inform_wrapper .skilljs_inform .slider__scale {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        font-size: 13px;
        font-weight: 300;
        color: #2e211c;
        top: -50px;
        z-index: 999; }
        .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale {
          position: relative; }
          .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:before {
            content: '';
            display: block;
            position: absolute;
            top: 35px;
            left: 0;
            width: 1px;
            height: 16px;
            border-left: 1px dashed #b4b4b4; }
          .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:nth-child(1):before {
            top: 15px;
            height: 35px; }
          .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:nth-child(2) {
            margin-left: 60px; }
            .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:nth-child(2):before {
              top: 35px; }
          .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:nth-child(3) {
            margin-left: 30px; }
          .container__inner .inform_wrapper .skilljs_inform .slider__scale .scale:nth-child(4):before {
            top: 15px;
            height: 25px; }
    .container__inner .inform_wrapper .about_myself {
      margin: 0 auto;
      text-align: center;
      padding: 0 15px; }
      .container__inner .inform_wrapper .about_myself h2 {
        padding-bottom: 15px; }
      .container__inner .inform_wrapper .about_myself p {
        font-size: 16px;
        font-weight: 300;
        color: #1c1c1c; }
      .container__inner .inform_wrapper .about_myself textarea {
        font-size: 19px;
        font-weight: 400;
        color: #c8c8c8;
        padding: 22px 20px;
        display: block;
        margin: 38px auto 68px auto;
        width: 100%;
        height: auto;
        max-width: 520px;
        min-height: 180px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        resize: none; }
    .container__inner .inform_wrapper input[type="submit"] {
      font-size: 16px;
      font-weight: 300;
      padding: 12px 26px;
      color: #fff;
      background-color: #435993;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: all 0.3s; }
      .container__inner .inform_wrapper input[type="submit"]:hover {
        color: #435993;
        background-color: transparent;
        border-color: #435993; }

/******************************************** @media *********************************************************/
@media (max-width: 991px) {
  .skill_inform .row {
    margin: 0; } }

@media (max-width: 767px) {
  .container__inner {
    margin-top: 25px; }
  header nav.navbar ul.nav.navbar-nav {
    display: block;
    vertical-align: none; }
    header nav.navbar ul.nav.navbar-nav li > a:focus, header nav.navbar ul.nav.navbar-nav li > a:hover {
      background-color: #ececec; }
  .slider__scale {
    top: -80px !important; }
    .slider__scale .scale:before {
      border: none !important; } }
